body{
  background-color:black;
}

audio::-webkit-media-controls-panel {
  background-color: cyan;
}

div{
  text-align:center;
}
h1{
  color:cyan;
  text-align:center;
}
p{
  color:cyan;
  text-align:center;
}
