body{
  background-color:black;
}

audio::-webkit-media-controls-panel {
  background-color: #000000;
}

audio::-webkit-media-controls-mute-button {
  background-color: #00ffee;
  border-radius: 60%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color:cyan;
}

audio::-webkit-media-controls-current-time-display {
  color: #00ffee;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #00ffee;
}

audio::-webkit-media-controls-timeline {
  background-color: #00fffb;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
h1{
  color:cyan;
  text-align:center;
}
p{
  color:cyan;
  text-align:center;
}
